body { /* Test start, remove after task completion */
   background: url('https://c5.staticflickr.com/8/7127/7687472628_8cb8ead26a_k.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} /* Test end */

section.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.wrapper{
    display: inherit;
    width: 100%;
    background: #171b65;
}

.login {
    padding: 7px 15px 8px 15px;
    margin: 0 auto;
}

.message {
    text-align: center;
    font-size: 17px;
    color: #fff;
}

.login span {
    display: block;
    padding: 5px;
}

.login label{
    font-family: "Tahoma", sans-serif;
    font-size: 17px;
    text-align: left;
    display: inline-block;
    font-weight: 700;
    color: #fff;
}

.login input {
    margin-left:15px;
    float: right;
    padding: 2px 5px;
}

.login button {
    float: right;
    margin: 12px 6px 0px 0px;
    background: url('img/submit_arrow.png') no-repeat -2px;
    width: 30px;
    height: 30px;
    border: 0;
    border: 2px solid #ffffff;
    border-radius: 50%;
    outline: 0;
}

.login button:hover {
    opacity: 0.9;
    cursor: pointer;
}